=provide(:title, @user.username)
%br User name:#{@user.username}
%br Full name: #{@user.full_name}
%br Birthday at: #{@user.birthday}
%br Email:#{@user.email}
%br Address is #{@user.addressFull}
= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}"
-if can? :manage_roles, @user
  = simple_form_for(@user) do |f|
    %fieldset
      = hidden_field_tag "user[role_ids][]", nil
      - Role.all.each do |r|
        = label_tag dom_id(r), r.name, :class=> "checkbox"
        = check_box_tag "user[role_ids][]", r.id, @user.role_ids.include?(r.id), id: dom_id(r)
      %br
      =f.button :submit, input_html: { class: 'btn-primary'}
%div.advert
  - if @user.advertisements.any?
    %h3
      = link_to 'Advertisements', "#",:name => "adverts"
      #{@user.advertisements.count}
    %ul.advertisements
      =render @advertisements
    = will_paginate @advertisements, :renderer => BootstrapPagination::Rails


