=provide(:title, @user.username)
%br User name:#{@user.username}
%br Full name: #{@user.full_name}
%br Birthday at: #{@user.birthday}
%br Email:#{@user.email}
%br Address is #{@user.addressFull}
= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}"
-if can? :manage_roles, @user
  = simple_form_for(@user) do |f|
    -#=f.association :roles,:collection => Role.global,   as: :check_boxes
    =label_tag "Admin?"
    = check_box_tag "user[admin]", @user.has_role?(:admin), @user.has_role?(:admin), disabled: true

    =label_tag "user[moderator]", "Moderator?"
    =check_box_tag "user[moderator]", @user.has_role?(:moderator), checked = @user.has_role?(:moderator)
    =label_tag "user[user]", "User?"
    = check_box_tag "user[user]", @user.has_role?(:user)
    =f.button :submit
%div.advert
  - if @user.advertisements.any?
    %h3
      = link_to 'Advertisements', "#",:name => "adverts"
      #{@user.advertisements.count}
    %ul.advertisements
      =render @advertisements
    = will_paginate @advertisements, :renderer => BootstrapPagination::Rails


