= simple_form_for(@advertisement) do |f|
  = f.error_notification

  .form-inputs
    = f.label "Edit content"
    = f.text_area :content, :rows => 5
    = f.label "Edit image"
    = f.file_field :img

  .form-actions
    = f.button :submit
