%li
  = image_tag(@advertisement.img_url(:thumb)) if @advertisement.img_url
  %span.content #{simple_format(RedCloth.new(html_escape(@advertisement.content)).to_html)}
  %span.timestamp Posted by #{@advertisement.user.username} #{time_ago_in_words(@advertisement.created_at)} ago.
  - if can? :update, @advertisement
    = link_to 'Edit', edit_advertisement_path(@advertisement)
    \|
  -if can? :destroy, @advertisement
    = link_to 'Destroy', @advertisement, :method => :delete, :data => { :confirm => 'Are you sure?' }
= link_to "Back to advertisements", @advertisement.user
%h2#comments_count= pluralize(@advertisement.comments.size, 'comment')
#comments
  =render :partial => "comments/comment"
%h3 Add your comment:
= render :partial => 'comments/form'
