%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %nav
        %ul.nav.pull-right
          %li= link_to "Ad", 'ad_path'
          %li= link_to "Users", 'users_path'
          -if user_signed_in?
            Signed in as
            = link_to current_user.email, edit_user_registration_path
            = button_to('Logout', destroy_user_session_path, :method => :delete)
          -else
            = link_to "Sign up", new_user_registration_path
            or
            = link_to "Sign in", new_user_session_path
